*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a{
  color: white;
  text-decoration: none;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: white;
  text-align: center;
}
.img-logo img{
  height: 80px;
  margin: 50px 0;
}
.container{
  width: 60%;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
  text-align: left;
  background-color: #001632;
  color: white;
}
.container h2{
  padding: 20px 0;
}
.container .btn{
  text-align: right;
  padding: 20px 0;
}
.container .btn a{
  background-color: #0CD977;
  color: #001632;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
}
.container ul li{
  padding: 20px 0;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container ul li i{
  margin-left: 20px;
}
