<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <title>To do list</title>
</head>
<body>
  <div class="img-logo">
    <img src="https://www.boolean.careers/images/misc/logo.png" alt="logo">
  </div>
  <div id="list" class="container">
    <h2>To do:</h2>
    <div class="btn">
      <a href="#" @click='removeAll'>Remove all</a>
    </div>
    <input v-model='todoInput' type="text" placeholder="Inserisci to do">
    <button @click='addTodo'>Invia</button>
    <ul>
      <li v-for='(todo, index) in todos'><p>{{todo}}</p><div><a href="#" @click='changeTodo(index)'><i class="fas fa-redo"></i></a><a href="#" @click='removeTodo(index)'><i class="fas fa-trash-alt"></i></a></div></li>
    </ul>
    <h2>Done:</h2>
    <div class="btn">
      <a href="">Restore all</a>
    </div>
    <ul>
      <li v-for='(done, index) in todosDelete'><p>{{done}}</p><div><a href="#" @click='restoreTodo(index)'><i class="fas fa-trash-restore"></i></a><a href="#" @click='removeDefinitely(index)'><i class="fas fa-times"></i></a></div></li>
    </ul>
  </div>
  <!-- javascript -->
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
